# React
client/node_modules/

# Python
__pycache__/
server/app/uploads/id-pictures/*
server/app/uploads/signatures/*
!server/app/uploads/id-pictures/.gitkeep
!server/app/uploads/signatures/.gitkeep
venv/
.env
server/.flaskenv

# Jobs
run-emailer.bat